/*color of the background color*/
body {
    background-color: rgb(231, 253, 255);
  }

/*centers the text*/
.text-center{
    justify-content: center;
}
/*creates border and outline of table*/
.table{
    border: 1px solid black;
    background-color: white;
}
/*aligns the body to the center*/
.container{
  display: flex;
  flex-direction: row;
  align-items: center;
}
/*makes navagation bar*/
.topnav {
    overflow: hidden;
    background-color: #333;
  }

/*makes text for the navagation bar*/
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
/*changes color when hovered*/
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
/*shows which page is active on nav bar*/
  .topnav a.active {
    background-color: #16abcd;
    color: white;
  }
/*helps create logo header for webpage*/
  .header {
    overflow: hidden;
    background-color: #0ff7ff;
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    border: 1px solid black;
  }

/*centers the image of header*/
  .image-center{
    display: inline;
    justify-content: center
  }

/*centers the text of header*/
  .text-center{
    display: inline;
    justify-content: center;
    text-align: center;
  }

/*shows if input is invalid*/
  .input-a:invalid {
    border: 2px dashed red;
  }

/*shows if input is valid*/
  .input-a:valid {
    border: 2px solid black;
  }
  /*images in column placement*/
  .image-column {
    float: left;
    width: 25%;
    padding: 3px;
  }
  /*images in row placement*/
  .image-row::after {
    content: "";
    clear: both;
    display: table;
  }
  /*footer properties*/
  .footer{
    background-color:#e5e5e5;
    text-align:center;
    padding:10px;
    margin-top:7px;
  }
  /*aside element properties*/
  .aside {
    width: 30%;
    height: 100%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(93, 153, 236);
    overflow:auto;
  }
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
    color: #f2f2f2;
  }
  .column {
    float: left;
    width: 100%;
    padding: 3px;
    background-color: #f2f2f2;
  }
  form {
    max-width: 300px;
  }
  
  input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 1px solid #ccc;
    border-radius: .1875rem;
    box-sizing: border-box;
    display: block;
    font-size: .875rem;
    margin-bottom: 1rem;
    padding: .275rem;
    width: 100%;
  }
  
  input[type="checkbox"] {
    -webkit-appearance: checkbox;
       -moz-appearance: checkbox;
            appearance: checkbox;
    display: inline-block;
    width: auto;
  }
  
  input[type="password"] {
    margin-bottom: .5rem;
  }
  
  input[type="submit"] {
    background-color: #015294;
    border: none;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
  }
  
  label {
    color: #666;
  }

  font{
    font-size: 40px;
  }
