body {
    background-color: lightskyblue;
  }
.button {
    background-color: white;
    color: black;
    border: 2px solid rgb(238, 255, 0);
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
}
.space{
    width: 50px;
    height: auto;
}
.flex-parent{
    display: flex;
}
.text-center{
    justify-content: center;
}
